doctype html 
html 
    head 
        title='${title}'
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        linl(rel='stylesheet', href='/styles.css')
    body 
        .container.listing-reg 
            h1 Registered Managers 
            block content